/* CSS */
body {
    font-family: Arial, sans-serif;
    background-image: url('gambar/gunung.jpg');
    background-size: cover;
    color: #040400;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    animation: transitionNav 2s; /* Animasi transisi navbar */
}

.navbar-brand-text {
    font-family: 'pacifico', cursive;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

.navbar-nav .nav-link {
    color: #fff;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    transition: transform 0.3s ease-in-out; /* Transisi perubahan ukuran */
}

.profile-img:hover {
    transform: scale(1.1); /* Perbesar saat hover */
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out; /* Transisi perubahan warna latar belakang */
}

table:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Warna latar belakang saat hover */
}

th,
td {
    text-align: center;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}

th {
    background-color: rgba(0, 123, 255, 0.2);
    padding: 15px 20px;
    color: #fff;
    width: 25%;
}

tr:nth-child(even) {
    background-color: rgba(104, 187, 227, 0.6);
}

/* Animasi transisi navbar */
@keyframes transitionNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
